{% extends app.request.isXmlHttpRequest() ? "antares/foundation::layouts.antares..clear" : "antares/foundation::layouts.antares.index" %}    
{% block grid_col__container %}
    <div class="grid-col grid--notification grid-col--container">
        {% block content %}
            {{ form|raw }}
        {% endblock %}        
    </div>    
{% endblock %}