<fieldset>
    <div class="page-notification-templates__content">
        <legend>{{ trans('antares/notifications::messages.notification_template_content') }}</legend>

        <div class="page-notification-templates__lang">
            <div class="page-notification-templates__lang-text">
                {{ trans('antares/notifications::messages.notification_edit_for') }}:
            </div>
            <div class="form-block nomargin">
                <div class="input-field input-field--icon">
                    <span class="input-field__icon"><span class="flag-icon"></span></span>
                    <select class="lang-selector" data-flag-select data-selectar="true" id="contents-languages-dropdown">
                        <option v-for="lang in langsOptions" v-bind:value="lang.code" v-bind:data-country="lang.icon_code">${ lang.name }</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div v-for="(content, lang) in contents">
        <div v-show="lang === selectedLang">
            <div class="col-group">
                <div class="form-block">
                    <div class="col-group col-group--flex-start">
                        <div class="col-mb-3 col-2">
                            <label class="form-block__name as-flex-start">{{ trans('antares/notifications::messages.notification_content_title') }}</label>
                        </div>
                        <div class="col-mb-21 col-22">
                            <div class="input-field">
                                <input type="text" name="name" v-model="content.title" :data-lang-code="lang" v-bind:disabled="disabledContentTitle">
                            </div>
                        </div>
                    </div>
                    <span class="error nopadding" v-if="errors.has('contents.' + lang + '.title')">
                        <p class="help-block error" v-text="errors.get('contents.' + lang + '.title')"></p>
                    </span>
                </div>
            </div>

            <span class="error nopadding" v-if="errors.has('contents.' + lang + '.content')">
                <p class="help-block error" v-text="errors.get('contents.' + lang + '.content')"></p>
            </span>

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                {% include 'antares/notifications::admin.index._tabs' %}
                {% include 'antares/notifications::admin.index._variables' %}
            </div>
        </div>
    </div>
</fieldset>