<div class="preview-response" style="display:none;">
    <div class="preview-response-title">{{ title|raw }}</div>
    <div class="preview-response-content">
        {{ content|raw }}
    </div>
</div>