<script type="text/x-template" id="notificationTemplatePreview-template">

    <div id="notificationTemplatePreview" title="{{ trans('antares/notifications::messages.template_preview_title') }}" v-if="show" class="w1000">
        <div class="template-preview-container" style="width:100%">
            <h3 v-if="loading" class="p8 pt24 text-center">
                {{ trans('antares/notifications::messages.generating_notification_preview') }}
            </h3>

            <iframe v-if="! loading" :src="src" width="100%" :height="height" frameborder="0"></iframe>
        </div>
    </div>

</script>

<vue-template-preview ref="previewModal"></vue-template-preview>