<div class="form-block content-rich">
    <div class="col-24 mb2">
        {{ Form.label(control.name, control.label,{'class':'as-fs form-block__name'})|raw }}
    </div>    
    <div class="col-24">
        <div class="col-group">
            <div class="col-12">
                {{ control.getField(row, control, [])|raw }}
                <div id="{{ control.id }}_error" class="error">
                    {{ errors.first(control.name, format)|raw }}
                </div>
            </div>
            <div class="col-5">
                {% include 'antares/notifications::admin.partials._variables' %}
            </div>
        </div>        
    </div>
</div>            